.dash_section_2 {
  background-color: var(--color-secondary);
}

.main_card {
  background-color: var(--color-secondary);
  /* background-color: red; */

  border-radius: 16px;
  padding: 16px;
}

.tag {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
  padding: 0px 12px;
  border-radius: 4px;
  width: fit-content;
  font-size: 12px;
  word-break: keep-all;
}
.tag_secondary {
  background-color: var(--color-primary);
}

.tag_primary {
  color: var(--color-primary);
  background-color: var(--color-logo);
}
