.layout {
  position: relative;
  top: 0;
  height: 100vh;
  padding: 120px 0px 0px 260px;
  transition: padding 0.2s ease-in-out;
  z-index: 9;
}

.layout_hover {
  /* padding: 64px 0px 0px 270px !important; */
  transition: padding 0.2s ease-in-out;
  overflow: hidden;
}

/* mobile view overlay */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100% !important;
  left: 0;
  display: none;
  background: #000000de;
  opacity: 0.6;
  cursor: pointer;
  z-index: 9;
  overflow-y: hidden;
}

@media screen and (max-width: 1200px) {
  .layout {
    padding-left: 0px;
    padding-top: 64px;
  }
}
